{% extends 'base.html.twig' %}

{% block title %} Modifier mon mot de passe - Lili Giroud {% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/account.css')}}">{% endblock %}

{% block account %}{% endblock %}

{% block body %}

	<!-- CONTAINER GLOBALE -->
	<main id="mainPassword">

		<!-- Titre H1 -->
		<h1 class="title">Modifier mon mot de passe</h1>

		<!-- Container formulaire -->
		<div id="containerPassword">
		{{ form_start(form) }}

			<!-- Email -->
			<div class="inputForm">
				{{ form_row(form.email) }}
			</div>

			<!-- Photo -->
			<div class="inputFile">
				{{ form_row(form.image) }}
			</div>

			<!-- Nom -->
			<div class="inputForm">
				{{ form_row(form.lastname) }}
			</div>

			<!-- Prénom -->
			<div class="inputForm">
				{{ form_row(form.firstname) }}
			</div>

			<!-- Ancien mot de passe -->
			<div class="inputForm">
				{{ form_row(form.old_password) }}
			</div>

			<!-- Nouveau mot de passe -->
			<div class="inputForm">
				{{ form_row(form.new_password) }}
			</div>

			<!-- Bouton envoyer -->
			<div class="buttonPassword">
				{{ form_row(form.submit) }}
			</div>

		{{ form_end(form) }}
		</div>
	</main>

	<!-- IMAGE ILLUSTRATION -->
		<img src="{{asset('assets/img/illustration/separatorDecouv.svg')}}" alt"" id="separatorForm">
{% endblock %}
