{% extends 'base.html.twig' %}

{% block title %}Massage{% endblock %}

{% block stylesheets %}

<!-- begin rdv head -->
		 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
  integrity=
"sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"  crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"> </script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
  integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
  crossorigin="anonymous">
 </script>
<!-- end rdv head -->

{% endblock %}

{% block body %}
    <h1>Massage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ massage.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ massage.titre }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ massage.duree }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ massage.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_massage_index') }}">Retour à la liste</a>

    <a href="{{ path('app_massage_edit', {'id': massage.id}) }}">Editer</a>

    {{ include('massage/_delete_form.html.twig') }}
{% endblock %}
